<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Walley — Вход</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Bitter:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/folders.css">

</head>

<body>
    <div id="buttons-wrap">
        <button onclick="garden()"><img src="icons/garden.svg"></button>
    </div>
    <div id="opacity-back">
        <div id="container">
            <div id="search-wrap">
                <img src="icons/search.svg">
                <input type="text" placeholder="Поиск..." class="search-bar">

            </div>

            <div class="table-wrapper">
                <table class="board-table">
                    <thead>
                        <tr>
                            <th>Название<img onclick="sortBy('title')" src="icons/sort.svg"></th>
                            <th>Владелец<img onclick="sortBy('user')" src="icons/sort.svg"></th>
                            <th>Последнее изменение<img onclick="sortBy('date')" src="icons/sort.svg"></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Данные будут добавлены через JS или вручную -->
                    </tbody>
                </table>
            </div>
            <div class="add-button-wrapper">
                <button class="add-button"><img src="icons/add-board.svg"></button>
            </div>
        </div>
    </div>

    <script src="scripts/folders.js"></script>

</body>

</html>