<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Walley — Папки</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Bitter:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/folders.css">

</head>

<body>
<form action="/folders" method="post">
    <div id="buttons-wrap">
        <button type="submit" name="action" value="garden">
            <img src="/icons/garden.svg">
        </button>
    </div>
</form>
<form action="/folders" method="get">
    <div id="opacity-back">
        <div id="container">
            <div id="search-wrap">
                <img src="icons/search.svg">
                <input type="text" placeholder="Поиск..." class="search-bar">

            </div>

            <div class="table-wrapper">
                <table class="board-table">
                    <thead>
                        <tr>
                            <th>Название<img onclick="sortBy('title')" src="icons/sort.svg"></th>
                            <th>Владелец<img onclick="sortBy('user')" src="icons/sort.svg"></th>
                            <th>Последнее изменение<img onclick="sortBy('createdAt')" src="/icons/sort.svg"></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wall : ${boards}">
                        <td th:text="${wall.title}">Название</td>
                        <td th:text="${wall.email}">Владелец</td>
                        <td th:text="${#dates.format(wall.createdAt, 'dd.MM.yyyy HH:mm')}">Дата</td>
                        <td>
                            <img src="/icons/more.svg" class="more-icon" style="cursor:pointer;">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="add-button-wrapper">
                <button class="add-button"><img src="icons/add-board.svg"></button>
            </div>
        </div>
    </div>
</form>


</body>



</html>