<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Walley - Cад</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Bitter:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="all" href="/css/garden.css">
</head>

<body>
<form action="/garden" method="post">
    <div id="buttons-wrap">
        <button type="submit" name="action" value="settings">
            <img src="/icons/settings.svg">
        </button>
        <button type="submit" name="action" value="folders">
            <img src="/icons/folders.svg" style="width: 93%;">
        </button>
    </div>
</form>
    <form action="/garden" method="get">
    <div id="timer">
        <div id="name"> Работа</div>
        <div id="circle">
            <img id="start-icon" src="./icons/start.svg">
            <img id="stop-icon" src="/icons/stop.svg">
        </div>
        <div id="time">00:00 </div>
    </div>
</form>
    <script>
        let isWork = true;
        let timeLeft = WORK_DURATION;
        let timerInterval = null;
        let isRunning = false;
    </script>

</body>

</html>