<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Walley — Вход</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Bitter:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/settings.css">

</head>

<body>
<form id="my-form" action="/settings" method="post">
    <div id="buttons-wrap">
        <button type="submit" name="action" value="garden">
            <img src="/icons/garden.svg">
        </button>
    </div>
    <div id="opacity-back">
        <label id="page-name">Настройки</label>
        <div id="container">
            <div id="acc-settings">
                <div class="wrap">
                    <label class="block-name">Аккаунт</label>

                    <div id="avatar">
                        <input type="file" id="image-input" accept="image/*" style="display: none;">
                    </div>
                    <div id="username" contenteditable="true" spellcheck="false"></div>
                    <div class="form-row">
                        <label for="email">Почта</label>
                        <input type="email" id="email"  required disabled>
                    </div>
                    <div class="form-row">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" placeholder="Введите новый пароль">
                    </div>
                </div>
            </div>
            <div id="time-settings">
                <div class="wrap">
                    <label class="block-name">Таймер</label>

                    <div class="row">
                        <label>Время работы</label>
                        <input id="workInput" type="number" min="1" max="60" value="20">
                        <label>мин.</label>

                    </div>
                    <div class="row">
                        <label>Время отдыха</label>
                        <input id="restInput" type="number" min="1" max="60" value="5">
                        <label>мин.</label>
                    </div>

                </div>
                <div class="wrap">
                    <label class="block-name">Статистика</label>

                    <div class="row">
                        <label>Время работы</label>
                        <label id="totalWorkMinutes"></label>

                    </div>
                    <div class="row">
                        <label>Время отдыха</label>
                        <label id="totalBreakMinutes"></label>


                    </div>

                </div>
                <div id="buttons">


                    <button id="save" name = "action" value="save">Сохранить</button>
                    <button id="reset" name = "action" value="reset">Сбросить прогресс</button>
                    <div id="message">lalala</div>
                </div>
            </div>
        </div>
    </div>
</form>
    <script th:inline="javascript">


        function toHMin(min) {
            return `${Math.floor(min / 60)}ч. ${min % 60}мин.`
        }
        function message(text) {
            messageDiv.style.display = 'block';
            messageDiv.textContent = text;
            setTimeout(() => {
                messageDiv.style.display = 'none';
            }, 1000);
        }

        const saveButton = document.querySelector("#buttons button:first-child");
        const resetButton = document.querySelector("#buttons button:nth-child(2)");

        const emailInput = document.getElementById("email");
        const passwordInput = document.getElementById("password");
        const usernameInput = document.getElementById("username")
        const workInput = document.getElementById("workInput");
        const restInput = document.getElementById("restInput");
        console.log(restInput)
        // userStat = {'totalWorkMinutes': 0, 'totalBreakMinutes': 0};
        const userStat = [[${userStat}]];
        console.log(userStat);
        const totalWork = document.getElementById("totalWorkMinutes");
        const totalBreak = document.getElementById("totalBreakMinutes");
        totalWork.textContent = userStat.totalWorkMinutes;
        totalBreak.textContent = userStat.totalBreakMinutes;

        const messageDiv = document.getElementById('message');
        const avatar = document.getElementById('avatar');
        let imageInput = document.getElementById('image-input');





        window.addEventListener("DOMContentLoaded", () => {
            // userSettings = { 'email': email, 'password': password, 'username': getUsernameFromEmail(email), 'avatarURL':'pic/user1.jpg',  'workDuration': defaultWork, 'breakDuration': defaultBreak };
            //const savedData = JSON.parse(localStorage.getItem("userSettings"));
            const savedData = [[${userSetting}]];
            if (savedData) {
                emailInput.value = savedData.email || "";
                passwordInput.value = savedData.password || "";
                usernameInput.textContent = savedData.username || "";
                avatar.style.backgroundImage = 'url(' + (savedData.avatarURL || '') + ')';
                workInput.value = savedData.workDuration / 60 || 20;
                restInput.value = savedData.breakDuration /60 || 5;
            }
        });

        saveButton.addEventListener("click", () => {
            const data = {
                email: emailInput.value,
                password: passwordInput.value,
                username: usernameInput.textContent,
                avatarURL: (avatar.style.backgroundImage.match(/url\(["']?(.*?)["']?\)/) || [])[1] || '',
                workDuration: parseInt(workInput.value),
                breakDuration: parseInt(restInput.value),
            };
            const params = new URLSearchParams();
        params.append({
            'email': emailInput.value,
            'password': passwordInput.value,
            'username': usernameInput.textContent,
            'avatarURL': (avatar.style.backgroundImage.match(/url\(["']?(.*?)["']?\)/) || [])[1] || '',
            'workDuration': parseInt(workInput.value),
            'breakDuration': parseInt(restInput.value),
            });
            fetch('/folders', {
            method: 'POST',
            body: params
        }).catch(error => {
            console.error('Произошла ошибка:', error);
        });
            message('Сохранено!')
        });

        resetButton.addEventListener("click", () => {
            workInput.value = 20;
            restInput.value = 5;

            const savedData = [[${userSetting}]] || {};
            savedData.workDuration = 20;
            savedData.breakDuration = 5;


            message('Сброшено!')

        });
        avatar.addEventListener('click', () => {
            imageInput.click();
        });

        imageInput.addEventListener('change', () => {
            const file = imageInput.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                const dataUrl = e.target.result;
                avatar.style.backgroundImage = `url("${dataUrl}")`;
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        });



    </script>
</body>

</html>